li {
    list-style: none;
}

.list {
    padding: 10px;
}

.balance {
    color: #fff;
    text-align: center;
}

.spending-content {
    height: 15vh;
    margin-top: 1.5rem;
    background-color: #4c586b;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expense,
.income {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
}

.income-value,
.expense-value {
    color: #958af0;
    font-weight: 700;
}

.border-middle {
    border-right: 2px solid #958af0;
}

.user-transactions {
    background-color: #4c586b;
    border-radius: 20px;
}

.user-input {
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-data {
    background-color: #4c586b;
    border: 2px solid #958af0;
    border-radius: 20px;
    color: #fff;
}

.user-button {
    display: flex;
    justify-content: center;
}

.user-button button {
    background-color: #958af0;
    color: #fff;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.2s ease-in;
}

.user-button button:hover {
    background-color: #7f73d3;
}

.transaction-container {
    padding: 15px;
    background-color: #3D4855;
    border-radius: 20px;
    color: #fff;
}