.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.testimonial-header {
    margin-bottom: 4rem;
    text-align: center;
}

.test-headline {
    color: #958af0;
    font-size: 1.5rem;
}

.test-title {
    color: #fff;
    font-size: 2.5rem;
}

.testimonial-block {
    width: 90%;
    background-color: #958af0;
    margin-bottom: 40px;
    border-radius: 20px;
}

.text-content {
    padding: 15px;
}

.quote {
    position: absolute;
}

.review {
    padding: 10px 0 0 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.client-name {
    padding-left: 10px;
    color: #3d4855;
}

.image-content {
    padding: 0;
}

.profile-image {
    width: 100%;
    border-radius: 0 0 20px 20px;
}

@media(min-width: 768px) {
    .testimonial-section {
        margin-top: 15%;
    }

    .testimonial-header {
        text-align: center;
    }

    .test-headline {
        text-align: center;
    }

    .test-title {
        text-align: center;
    }

    .review {
        font-size: 1rem;
    }

    .client-name {
        font-size: 0.9rem;
    }

    .profile-image {
        border-radius: 0 20px 20px 0;
    }
}

@media (min-width: 992px) {
    .testimonial-section {
        margin-top: 10%;
    }

    .testimonial-block {
        width: auto;
        float: none;
    }

    .review1,
    .review2,
    .review3 {
        width: auto;
    }

    .review {
        font-size: 1.3rem;
    }

    .client-name {
        font-size: 1.2rem;
    }
}

@media (min-width: 1280px) {
    .testimonial-block {
        width: 80%;
        float: left;
    }

    .profile-image {
        width: 100%;
        float: right;
    }

    .review {
        padding: 30px;
        font-size: 1.4rem;
    }

    .client-name {
        padding-left: 30px;
        font-size: 1.2rem;
    }
}

@media(min-width: 1400px) {
    .review {
        font-size: 1.4rem;
    }

    .profile-image {
        width: 80%;
    }

    .client-name {
        font-size: 1.2rem;
    }
}